@import "__variable.scss";
@import "__default.scss";

%transition{
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
%btn{
	font-size: 19px;
	letter-spacing: 1px;
	border-radius: 30px;
	padding: 6px 25px;
	@extend %transition;
}

@mixin radius($value){
	border-radius: $value;
}

@mixin shadow($X, $Y, $blur){
	-webkit-box-shadow: $X $Y $blur #0000001a;
	box-shadow: $X $Y $blur #0000001a;
}

.btn-custom{
	background-color: $secondery_Color;
	color: #fff;
	@extend %btn;
	border: 1px solid $secondery_Color;

	&:hover{
		background-color: transparent;
		color: $secondery_Color;
	}
}

header{
	background-color: $bg_color;

	.navbar-brand{
		img{
			width: 200px;
		}
	}
	.navbar-light{
		.navbar-nav{
			li{
				.nav-link{
					color: $primary_color;
					margin-right: 2px;
					@extend %btn;

					&:hover{
						background-color: $secondery_Color;
						color: #fff;
					}
				}
				&:last-child{
					.nav-link{
						background-color: $secondery_Color;
						color: #fff;
						margin-right: 0;
					}
				}
			}
		}
	}
	h4{
		color: red;
		font-size: 20px;
	}
	h1{
		color: $primary_color;
		font-size: 70px;
		font-weight: 600;
		line-height: 1.1;
		span{
			color: $secondery_Color;
		}
	}
	p{
		color: $primary_color;
		font-size: 18px;
		opacity: 0.7;
		line-height: 1.8;
	}
}

.books-section{
	padding: 40px 0;
	.book{
		background-color: $bg_color;
		text-align: center;
		padding: 35px 20px;
		border-radius: 10px;

		&:hover{
			background-color: #fff;
			@include shadow(0, 20px, 40px);
		}

		img{
			height: 80px;
		}
		h2{
			font-size: 26px;
			font-weight: 700;
			margin: 10px 0 0;
		}
		p{
			color: $primary_color;
			font-size: 18px;
			opacity: 0.7;
			line-height: 1.8;
			margin-bottom: 0;
		}
	}
}

.heading{
	text-align: center;
	padding: 50px 0;
	h1{
		font-size: 45px;
		font-weight: 900;
		letter-spacing: 1px;
	}
}
.courses-section{
	.course{
		@include radius(10px);
		@include shadow(0, 20px, 40px);
		border: 0;
		.card-body{
			img{
				@include radius(10px);
			}
			.card-title{
				font-size: 26px;
				margin: 10px 0 0;
			}
			.card-text{
				color: $primary_color;
				font-size: 18px;
				opacity: 0.7;
				line-height: 1.8;
				margin-bottom: 10px;
			}
			.nav{
				margin-top: 10px;
				align-items: center;
				li{
					img{
						width: 20px;
					}
					span{
						font-size: 14px;
						font-weight: 500;
					}
				}
			}
		}
	}
}

.testimonial-section{
	padding: 50px 0;
	img{}
	p{
		color: $primary_color;
		font-size: 18px;
		opacity: 0.7;
	}
}

footer{
	background-color: #282531;
	color: #fff;
	padding: 50px 0 0;
	
	p{
		font-weight: 300;
		color: #fff;
		font-size: 18px;
	}
	h3{

	}
	ul{
		li{
			a{
				font-size: 16px;
				color: #fff;
				text-decoration: none;
				background-color: transparent;
				display: block;
				padding: 3px 0;
				font-weight: 300;
				@extend %transition;
				&:hover{
					opacity:0.8;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	.copyright{
		padding: 30px;
		text-align: center;
		p{
			color: #fff;
			font-size: 15px;
			margin-bottom: 0;
			a{
				color: $secondery_Color;
				font-weight: 800;
			}
		}
	}
}

@media(max-width: 1199px){
	header h1{
		font-size: 55px;
	}
	.book-section .book h2{
		font-size: 22px;
	}
	.book-section .book p{
		font-size: 16px;
	}
	.course .btn-custom{
		font-size: 15px;
		padding: 4px 20px;
	}
}
@media(max-width: 991px){
	.navbar-nav{
		-ms-flex-direction:row;
		flex-direction:row;
		justify-content: center;
	}
	header h1{
		font-size: 40px;
	}
	header p{
		font-size: 16px;
	}
	.book-section .book img{
		height: 60px;
	}
	.book-section .book h2{
		font-size: 15px;
	}
	.book-section .book p{
		font-size: 15px;
	}
	.course .card-body{
		padding: 10px;
	}
	.course .card-body .card-title{
		font-size: 18px;
	}
	.course .card-body .nav li:last-child{
		display: none;
	}
}
@media(max-width: 767px){
	.btn-custom, header .navbar-light .navbar-nav li .nav-link{
		font-size: 16px;
	}
	header .col-md img{
		max-width: 350px;
		margin-top: 30px;
	}
	header .row{
		text-align: center;
	}
	.book{
		margin-bottom: 30px;
	}
	.course{
		margin-bottom: 30px;
	}
	.testimonial-section p{
		font-size: 15px;
	}
}
@media(max-width: 575px){
	.navbar-nav{
		-ms-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
	.course .card-body .card-title{
		font-size: 26px;
	}
	.course .card-body .nav li:last-child{
		display: block;
	}
	.testimonial-section p{
		text-align: center;
	}
	footer{
		text-align: center;
		h3{
			font-size: 20px;
		}
	}
	footer ul li a{
		font-size: 14px;
	}
}







